<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron container">
  <h1 class="display-4"><b>Pizza, Delivery</b></h1>
  <br>
  <h5>Welcome to pizza delivery service. This place you may choose the most delicious pizza from a wide variety of options available.</h5>
  {{!-- <hr class="my-4"> --}}
  {{!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> --}}
  <br>
  <br>
  <a class="btn btn-dark btn-lg w-100" href="#" role="button">Sign In and Order</a>
</div>
</body>
</html>