<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pizza's Available</title>
</head>
<body>
    {{> header}}
    <div class="card" style="width: 18rem;">
  <img src="https://imgs.search.brave.com/PjpdyiZBOnLWRHcvWlGPJhp-m_G-3XT661S0uxLQqHg/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9jbGlw/Z3JvdW5kLmNvbS9p/bWFnZXMvcGl6emEt/cG5nLnBuZw" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Jalapeno and Olive cheese pizza</h5>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
    <a href="#" class="btn btn-primary">Add to Cart</a> <p>Rs.240</p>
  </div>
</div>
</body>
</html>